<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product id</th>
      <th>Category id</th>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
    <%= render 'dashboard_count', product: product %>
  <% end %>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Category id</th>
      <th>Category Name</th>
    </tr>
  </thead>
  <% @categories.each do |category| %>
    <%= render 'dashboard_categories', category: category %>
  <% end %>
</table>
